<!DOCTYPE html>
<html>
  <head>
    <title>BrainOrama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script type="text/javascript">
      window.background = "<%= image_url('background.jpg') %>";
    </script>
    <script type="text/javascript">
      window.brainscape_icon = "<%= image_url('brainscape-icon.png') %>";
    </script>
    <script type="text/javascript">
      window.index_card = "<%= image_url('index_card.png') %>";
    </script>
    <script src="https://kit.fontawesome.com/8d62d0058c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
